@{
    ViewData["Title"] = "Main Page";
}

<div class="text-center">
    <h1 class="display">
        Welcome.To work with tasks, click on  <a class="navbar-brand" asp-area="" asp-controller="Tasks" asp-action="Index">PR1</a>
    </h1>
    <p> You can view, add, change tasks</p>
</div>
